:host {
  background-color: orange;
  display: flex;
  flex-flow: column;
  width: 30%;
  margin: auto;
  height: 650px;
}
ul {
  background-color: magenta;
  width: 100%;
  height: 80%;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  overflow: scroll;
}
