:host {
  align-items: center;
  background-color: #000;
  border: 1px solid #fff;
  display: flex;
  flex-flow: column;
  height: 70%;
  min-width: 400px;
  max-width: 505px;
  margin-top: 2%;
  width: 35%;
}

h1 {
  color: #fff;
  font-weight: 300;
}

ul {
  background-color: #000;
  border-bottom: 2px solid #1aeca9;
  border-top: 2px solid #1aeca9;
  display: flex;
  flex-flow: column;
  height: 80%;
  overflow: scroll;
  padding: 0;
  width: 100%;
}
