:host {
    background-color: #3498DB;
    box-sizing: border-box;
    height: 10%;
    text-align: center;
    width: 100%;
}

nav {
  align-items: center;
  display: flex;
  flex-flow: row;
  width: 100%;
}

h1 {
  width: 20%;
}

ul {
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  height: 20px;
  justify-content: flex-end;
  padding: 0;
  padding-right: 10%;
  width: 80%;
}

li {
  padding: 5px 10px;
}

a {
  cursor: pointer;
  transition: all 0.3s;
}

a:hover {
  color: #ECF0F1;
}
