:host {
  align-items: center;
  background-color: #ECF0F1;
  border: 1px solid #2C3E50;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  height: 90%;
  margin: auto;
  min-width: 400px;
  width: 25%;
}

ul {
  background-color: #2980B9;
  display: flex;
  flex-flow: column;
  height: 80%;
  overflow: scroll;
  padding: 0;
  width: 100%;
}
